@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500&display=swap');

@theme {
  --color-primary: #22ffaa;
  --color-void: #0a0a0a;
  --color-card: #111113;
  --color-text: #e5e5e5;
  
  /* New Font Stack */
  --font-sans: "Inter", system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;   /* For headings & logo */
  --font-mono: "JetBrains Mono", monospace;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-void);
  color: var(--color-text);
  font-family: var(--font-sans);
}


h1, h2, h3, .font-display {
  font-family: var(--font-display);
}


.font-mono {
  font-family: var(--font-mono);
}